.logo-title1 {
  color: #201E24;
  text-align: center;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.logo-title2 {
  color: #201E24;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.py-custom {
  padding-top: 8rem !important;
  padding-bottom: 8rem !important;
}

.mb-custom {
  margin-bottom: 6rem !important;
}

.navbar-nav .nav-link {
  transition: color 0.3s, transform 0.3s;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link.active {
  color: #8E59D9;
  transform: scale(1.1);
}

.navbar-nav .nav-link.disabled {
  pointer-events: none;
  color: #6c757d;
  transform: none;
}

.btn-primarycolor {
  color: #fff;
  background-color: #8E59D9;
  border-color: #8E59D9;
}

.btn-primarycolor:hover {
  color: #fff;
  background-color: #733ebb;
  border-color: #733ebb;
}

.btn-primarycolor:focus,
.btn-primarycolor.focus {
  box-shadow: 0 0 0 0.2rem rgba(142, 89, 217, 0.5);
  border-color: #733ebb;
}

.our-story-bg {
  background: url("/assets/img/backgraound1.png") no-repeat center center;
}

.membro {
  display: flex;
  width: 300px;
  height: 460px;
  padding: 24px 28px;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  border-radius: 8px;
  border: 3px solid #C1FF72;
  background: #FFF;
}

.carousel-indicators [data-bs-target] {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 0 6px;
  background-color: #313131;
  opacity: 0.2;
  transition: background-color 0.3s, opacity 0.3s;
}

.carousel-indicators .active {
  background-color: #C1FF72;
  opacity: 2;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  background-color: #C1FF72;
  border-radius: 50%;
  width: 3rem;
  height: 3rem;
  background-size: 60% 60%;
  background-position: center;
  background-repeat: no-repeat;
}

.carousel-control-prev,
.carousel-control-next {
  filter: none;
}

.carousel-btn {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin: 0 6px;
  background-color: #313131;
  opacity: 0.2;
  transition: background-color 0.3s, opacity 0.3s;
  border: none;
}

.carousel-btn.active {
  background-color: #C1FF72;
  opacity: 1;
}

.card-integrante {
  width: auto;
  height: auto;
  padding: 1.5rem;
  background-color: white;
  border: 3px solid #C1FF72;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.custom-nav {
  filter: brightness(0) saturate(100%) invert(85%) sepia(21%) saturate(1082%) hue-rotate(34deg) brightness(101%) contrast(94%);
}
